<footer class="footer">
  <small>
    نسخه آزمایشی
  </small>
  <nav>
    <ul>
      <li><%= link_to "درباره ما",   about_path %></li>
      <li><%= link_to "تماس با ما", contact_path %></li>
    </ul>
  </nav>
</footer>
